COMPARTMENT_ID=<your-compartment-id>
AUTH_PROFILE=<api-config-file-profile-used>
SERVICE_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com/20231130/actions/v1
GEN_AI_MODEL=xai.grok-4-fast-non-reasoning
OPENAI_INNO_DEV1=<your-openai-compatible-api-key>
OCI_CONVERSATION_STORE_ID=<optional-conversation-store-id>

#Db defaults used for RAG, select ai & semantic cache exercises
DB_PASSWORD=<your-password>
DB_WALLET_PATH=<your-path>
DB_WALLET_PASSWORD=<your-password>
DB_USER = <your-user>
DB_DSN = <your-dns>

LANGFUSE_SECRET_KEY=<your-langfuse-generated-secret-key>
LANGFUSE_PUBLIC_KEY=<your-langfuse-generated-public-key>
LANGFUSE_HOST=https://apps.research-lab.ugbu.oraclepdemos.com/langfuse
LANGFUSE_USER_ID=<any-user-id-to-identify-traces>

APP_OBSERVABILITY_ENABLED=True (keep true to trace, false to disable)
LANGFUSE_TRACING_ENABLED=True
LOG_LEVEL=INFO
